In [15]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import numpy as np

In [28]:
train = pd.read_csv('train.csv',header = None)
test  = pd.read_csv('test.csv',header = None)
label = pd.read_csv('trainLabels.csv',header = None)

In [29]:
x_train,x_test,y_train,y_test = train_test_split(train,label,test_size=0.2,random_state=4)

In [30]:
clf = RandomForestClassifier()

clf.fit(x_train,y_train)

y_pred = clf.predict(x_test)

C:\Users\ian\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
acc = metrics.accuracy_score(y_pred,y_test)

In [32]:
acc

0.865

In [41]:
res = clf.predict(test)

In [42]:
res = pd.DataFrame(res)

In [43]:
res

      0
0     1
1     0
2     0
3     0
4     0
...  ..
8995  0
8996  1
8997  1
8998  0
8999  1

[9000 rows x 1 columns]

In [44]:
res.index+=1

In [47]:
res.columns = ['Solution']

In [48]:
res['Id'] = np.arange(1,res.shape[0]+1)
res = res[['Id','Solution']]

In [49]:
res.to_csv('submit.csv',index=False)